<div class="flex justify-between  mt-12 md:mt-20">
    <div>
        <h1 class="text-7xl">
            {{ if eq .Path "/"}}
            /
            {{ else }}
            {{ .Info.Name }}
            {{end}}
        </h1>
        <span class="pt-4 text-gray-600">
        {{ $base := "" }}
        {{ range $i,$e:=(splitList "/" $.Path)}}
            <a href="{{ $base }}{{$e}}/" class="text-blue-400 hover:underline">
            {{if eq $i 0}}
                    <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="home"
                         class="h-4 inline-block " role="img"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor"
                                                                                        d="M541 229.16l-61-49.83v-77.4a6 6 0 0 0-6-6h-20a6 6 0 0 0-6 6v51.33L308.19 39.14a32.16 32.16 0 0 0-40.38 0L35 229.16a8 8 0 0 0-1.16 11.24l10.1 12.41a8 8 0 0 0 11.2 1.19L96 220.62v243a16 16 0 0 0 16 16h128a16 16 0 0 0 16-16v-128l64 .3V464a16 16 0 0 0 16 16l128-.33a16 16 0 0 0 16-16V220.62L520.86 254a8 8 0 0 0 11.25-1.16l10.1-12.41a8 8 0 0 0-1.21-11.27zm-93.11 218.59h.1l-96 .3V319.88a16.05 16.05 0 0 0-15.95-16l-96-.27a16 16 0 0 0-16.05 16v128.14H128V194.51L288 63.94l160 130.57z"></path></svg>
            {{end}}
            {{$e}}
            </a> {{if last $i (splitList "/" $.Path) }}{{else}}/{{ end}}{{ $base = (print $base $e "/")}}
        {{ end}}
        </span>
    </div>
    <div>
        <div class="w-full h-full flex flex-col justify-center items-center">
            <div class="flex justify-center items-center flex-col sm:flex-row">
                <span>{{ .layout }}</span>
                <div>
                    {{ if eq .layout "default" }}
                    <a href='{{ (urlAddQuery .Request.URL "layout" "gallery") }}'>

                        <div class="w-10 h-5 flex items-center bg-blue-500 rounded-full mx-3 px-1">
                            <div class="bg-white w-3 h-3 rounded-full shadow-md transform">
                            </div>
                        </div>
                    </a>
                    {{else}}
                    <a href='{{ (urlAddQuery .Request.URL "layout" "index") }}'>
                        <div class="w-10 h-5 flex items-center bg-purple-500 rounded-full mx-3 px-1">
                            <div class="bg-white w-3 h-3 rounded-full shadow-md transform translate-x-5">
                            </div>
                        </div>
                    </a>
                    {{end}}
                </div>
            </div>
        </div>

    </div>
</div>